html,
body {
    height: 100%;
    /*background-color: #036ff61a;*/
    background-color: rgba(245, 245, 245, 0.25);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: rgb(51, 122, 183);
    border-top: 1px solid rgb(51, 122, 183);
    padding-top: 20px;
    color: #f0f0f0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}


/* Customizações */

.site-index{
    /*position: relative;*/
    height: 75rem;
}

.vertical-center {
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
}

/*
.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}*/

.sys-navbar {
    background-color: rgb(51, 122, 183)/*rgba(48, 20, 97, 0.9)*/;
    border-color:  rgb(51, 122, 183);
}

.sys-navbar .navbar-brand {
    color: rgb(238, 238, 238);
}

.sys-navbar .navbar-nav > li > a {
    color: rgb(238, 238, 238);
}

.sys-navbar .navbar-nav > .active > a,
.sys-navbar .navbar-nav > .active > a:hover,
.sys-navbar .navbar-nav > .active > a:focus {
    color: rgb(238, 238, 238);
    background-color: rgb(51, 122, 183) !important;
}

.sys-navbar .navbar-nav > .open > a,
.sys-navbar .navbar-nav > .open > a:hover,
.sys-navbar .navbar-nav > .open > a:focus {
    color: rgb(238, 238, 238);
    background-color: rgb(51, 122, 183);
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(51, 122, 183);
}

.nav li > form > button.logout {
    color: rgb(238, 238, 238);
}

div.tabs-krajee > .nav > li > a:hover {
    background-color: #fff !important;
}

.navbar-logo {
    height: 48px;
    width: 48px;
    background: url(../images/simbolo-logo.png);
    background-size: cover;
    margin-top : -12px;
}

.navbar-sys-name {
    margin-left: 10px;
    vertical-align: middle;
}


/*.candidato-create {
    background-color: #338cb76e;
    padding: 20px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}*/

.logo-central{
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
}

@media (max-width: 768px){

    .logo-central{
        width: 40%;
        height: 40%;
        display: block;
        margin: auto;
    }

    .navbar-logo {
        padding: 23px;
        /*background: url(../images/logo.png);*/
        background-size: cover;
        /*filter: brightness(0.1) invert(1);*/
    }
    .navbar-sys-name {
        visibility: hidden;
        position: absolute;
    }
    .navbar-sys-name:before {
        content: "SAESP";
        visibility: visible;
    }

    h1, h2{
        font-size: 28px;
    }

    .hello{
        display: none;
    }
}


.navbar-toggle {
    background-color: rgb(120, 165, 203) !important;
    border-color: rgb(120, 165, 203) !important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.75);
}

.glyphicon-edit {
    background: url(../images/inscricao.png);
    background-repeat: no-repeat;
}

a.icone-index:hover {
    text-decoration: none;
}

/** Formulário cadastro do quadro de modalidade  **/

.table-modalidade > thead > tr > th {
  font-size: 12px !important;
  text-transform: uppercase;
  background-color: #086794;
  color: #f5f5f5;
}

.table-modalidade > tbody > tr > td {
  font-size: 14px !important; 
  vertical-align: middle !important;  
}

.table-modalidade > tbody > tr > td {
  font-size: 14px !important; 
  vertical-align: middle !important;  
}

.icones-plan-action {  
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    padding: 3px;
    vertical-align: middle;
    display: -webkit-box;
    transition: .2s color linear;
}

.add {
    color: #337ab7;
}

.buttons{
    text-align: right;
    position: relative;
    left: 5px;
    float: right;
}

.table-acao > tbody > tr > td {
    vertical-align: middle !important;
    /*font-size: 16px !important;*/
    text-align: left;
}

.table-acao > thead > tr > th {
    text-transform: uppercase;
}

.table-acao, .table-complement {
    border-collapse: separate !important;
    border-spacing: 2px !important;
}

.table-complement {
   margin: -10px -7px -6px -10px;
}


.table-complement > tbody > tr > td {
   vertical-align: middle !important;
}


.table-complement > tbody > tr > td {
   padding: 2px 6px 2px 6px;
}

/*  Grid de Modalidade no módulo de coordenador  */

th.field_small { 
    min-width: 100px; 
    width: 100px; 
}
td.field_small { 
    min-width: 100px; 
    width: 100px; 
}

th.field_date { 
    width: 225px; 
    min-width: 225px; 
}
td.field_date { 
    width: 225px;
    min-width: 225px; 
}

.field_cross { 
    min-width: 260px; 
}

th.field { 
    min-width: 360px; 
    width: 360px; 
}

td.field { 
    min-width: 300px;
    width: 300px;
    height: 90px; 
}

/*  Grid de Modalidade no módulo de inscrição  */

.field_cross2{ 
   min-width: 100px; 
   width: 100px; 
}

th.field_cross_small{ 
   min-width: 80px; 
   width: 80px; 
}

th.field2 { 
    min-width: 360px; 
    width: 360px; 
}

td.field2 { 
    min-width: 100px;
    width: 150px;
}

th.field_cross2{ 
   min-width: 200px; 
   width: 200px; 
}


/*.field_cross { 
    min-width: 377px; 
}*/

/** Formulário de inscrição **/

.tabs-above.tab-bordered .tab-content {
    background-color: #fff !important;
}

.form-tab {
    padding: 10px;
}

.table-saesp {
    margin: auto;
    border: 0;
}

.div-header {
    padding: 8px;
    background: rgb(51, 122, 183);
    color: #fff;
    border: 1px solid #aaaaaa;
}

.div-body {
    /*padding-bottom: 5px;*/
    /*border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;*/
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

.ptable-row {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    display: flex;
}

.ptable-row > div.col-lg-3 {
    border-right: 1px solid #aaaaaa;
    padding: 5px;
}

.ptable-row > div.col-lg-6 {
    border-right: 1px solid #aaaaaa;
    padding: 0px;
}

.pinner-row {
    display: flex;
}

.pinner-row > div {
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    padding: 5px;
}

.div-complemento {
    padding-top: 6px;
    padding-bottom: 6px;
}

.icon-add {
    padding-left: 15px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.candidato-view {
    border: 1px solid #eee;
    padding: 10px;
    display: flow-root;
}


.img-documentacao {
    width: inherit;
    height: inherit;
}

.img-documentacao-cover {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    height: 75%;
    min-width: 50%;
    min-height: 50%;
    object-fit: cover;
}